/**
 *  Variables
 */

$interscroller-bg-default: #999;
$interscroller-height-desktop: 700px;
$interscroller-height-tablet: 300px;
$interscroller-height-device: $interscroller-height-tablet;

body {
  overflow-x: hidden;
}

pm-interscroller {
  position: relative;
  //display: none;

  &.loaded {
    display: block;
  }
}

/**
 *  Base style
 */
.interscroller {
  position: relative;
  width: 100%;
  // background-color: $interscroller-bg-default;
  // background-size: cover;
  // background-position: center center;
  // background-attachment: fixed;

  // &::before,
  // &::after {
  //   position: absolute;
  //   content: '';
  //   display: block;
  //   width: 50%;
  //   height: 100%;
  //   background: inherit;
  // }

  // &::before {
  //   left: 0;
  //   transform: translateX(-50%);
  // }

  // &::after {
  //   right: 0;
  //   transform: translateX(50%);
  // }

  .interscroller--ad {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $interscroller-bg-default;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 10;
  }

  .interscroller--left,
  .interscroller--right {
    position: absolute;
    top: 0;
    height: 100%;
    background: $interscroller-bg-default;
    z-index: 5;
  }

  &.loaded {
    display: block;
    cursor: pointer;
    height: $interscroller-height-device;

    // Tablet landscape and desktop
    @include media-breakpoint-up(lg) {
      height: $interscroller-height-desktop;
    }
  }
}
