/**
 *  Variables
 */

$interscroller-bg-default: #999;
$interscroller-height-desktop: 700px;
$interscroller-height-tablet: 300px;
$interscroller-height-device: $interscroller-height-tablet;

/**
 *  Unmounted
 */
[data-ad-interscroller] {
  display: none;
}

/**
 *  Mounted
 */
.interscroller {
  position: relative;
  width: 100%;

  // Ad element
  .interscroller--ad {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $interscroller-bg-default;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 10;
  }

  // Left & right bg panels
  .interscroller--left,
  .interscroller--right {
    position: absolute;
    top: 0;
    height: 100%;
    background: $interscroller-bg-default;
    z-index: 5;
  }

  // On loaded state
  &.loaded {
    display: block;
    cursor: pointer;
    height: $interscroller-height-device;

    // Tablet landscape and desktop
    @media (min-width: 1024px) {
      height: $interscroller-height-desktop;
    }
  }
}
